# Python
__pycache__/
*.py[cod]
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/
/media/

# Virtual environment
venv/
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Secret key
*.secret

# Temporary files
*.bak
*.swp
*~

# CKEditor
/static/ckeditor/